node_modules
dist
build
lib
.turbo
coverage
.next
.expo
.expo-shared
package-lock.json
pnpm-lock.yaml
yarn.lock
*.d.ts
ios
android
scripts
templates
babel.config.js
metro.config.js
jest.config.js
.build
.eslintrc.js
*.config.js
*.config.cjs
